$white: #f6f6f6;
$gray: #abb4bd;
$light-gray: #c4c4c4;
$black: #000;
$dark: #020202;
$green-1: #154B10;
$green-2: #1D8026;
$green-3: #6AA84F;
$green-4: #3BAB46;
$green-5: #0D3509;
$yellow: #D4AF37;
$brown: #B47841;
$red: #FF3E3E;
$primary-color: #f1f1f1;


